<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Mars Rover Photograph Searcher</title>
    </head>
    <body>
        <h1 class="banner">MARS PHOTOGRAPH SEARCHER</h1>
        <form action="/" method = "post" class="search">
            <input name="sol" type="text" placeholder="Enter a Sol" required>
            <input type="submit" value="Go for it">
        </form>
        <div>
            <%if(satData) {%>
                <div>
                    <h2 class="search">First picture taken on Mars!</h2>
                    <h3 class="search">on day <%=sols%></h3>
                    <div>
                        <img src="<%=pictures[0].img_src%>" alt="Picture from mars" class="picture">
                    </div>
                </div>
                <% } %>
            <% if(error !== null){ %>
            <p>
            <%= error %>
            </p>
            <% } %>
        </div>
    </body>
</html>