<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Rover Photograph Searcher</title>
</head>
<body>
    <form action="/" method = "post">
        <input name="sol" type="text" class="ghost-input" placeholder="Enter a Sol" required>
        <input type="submit" class="ghost-button" value="Get Information">
    </form>
    <div>
        <%if(satData) {%>
            <div>
                <h1>Picture from mars on day <%=sols%></h1>
                <div>
                    <img src="<%=pictures[0].img_src%>" alt="Picture from mars">
                </div>
                <script>
                    const i = 0;
                    while (i < 20)
                    {
                        pictures[i].img_src;
                        i++;
                    }
                </script>
            </div>
            <% } %>

        <% if(error !== null){ %>
        <p>
          <%= error %>
        </p>
        <% } %>
    </div>
</body>
</html>